.link_block1{

position:absolute;
top:750px;
left:24%;


}
.link_block2{

position:absolute;
top:750px;
left:78%;

}
.link{
width:50px;
height:50px;
background:url(/img/link_icon.png);
background-size:100% 100%;
background-repeat:no-repeat;
}
.link:hover{

background:url(/img/link_icon2.png);
background-size:100% 100%;
background-repeat:no-repeat;
}
#preview_main_block{
width:100%;
position:relative;
min-height:100%;
/* overflow:hidden; */
}
.preview{
margin-left:100%;
height:100%;
position:absolute;

/* display:none; */

}
.main_preview{
position:relative;

}
.prev_img{
z-index:999;
min-width:auto;
position:relative;
margin:0 auto;
}
.portfolio_left_arrow{
left:7%;
top:50%;
position:absolute;
color:#fff;
font-family: 'Esqadero';
font-size:940%;
cursor:pointer;
z-index:9999999;
}
.portfolio_right_arrow{
left:85%;
top:50%;
position:absolute;
color:#fff;
font-family: 'Esqadero';
font-size:940%;
cursor:pointer;
z-index:9999999;
}
