#dove{
bottom:0px;
right:-250px;
position:absolute;
width:800px;
height:600px;
background:url(/img/dove-in-sky2.png);
background-repeat:no-repeat;
background-size:contain;
}
#letter{
position:absolute;
top:40%;
left:25%;
width:700px;
height:350px;
background:url(/img/delivery.jpg);
background-repeat:no-repeat;
background-size:contain;
}
#phone{
left:480px;
top:40px;
}
#slide1{
position:absolute;
background-image:url(/img/tobest_back.jpg);
background-size:100%;
background-repeat:no-repeat;
z-index:998;
}
#content{
display:none;
overflow:hidden;
}
#slide2_content{
z-index:999;
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}
#slide2_img{
position:absolute;
width:100%;
height:100%;
overflow:hidden;
background-image:url(/img/portfolio_index.jpg);
background-size:100%;
background-repeat:no-repeat;
z-index:997;
}
#slogan2{
position:absolute;
z-index:999;
background-image:url(/img/height.png);
background-size:100%;
background-repeat:no-repeat;
width:45%;
height:30%;
display:none;
}

#birds_promo{
position:absolute;
z-index:999;
background-image:url(/img/birds_promo_right.png);
background-size:100%;
background-repeat:no-repeat;
width:35%;
height:100%;
right:0px;
}
input[type="text"]{

}
